@using MyPlanner.Web.Models
@model HomeData
@{
    ViewBag.Title = Model.AppName;
}

<div class="jumbotron">
    <h1>@Model.UserName's Planner</h1>
    <p class="lead">Here is what you have to accomplish. All the very best!</p>
    <p>There are @Model.MyTasks.Count() tasks in all.</p>
    <p>@DateTime.Now</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2 border border-dark">&nbsp;</div>
        <div class="col-md-5"><h3>Important</h3></div>
        <div class="col-md-5"><h3>Not Important</h3></div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-2"><h3>Urgent</h3></div>
        <div class="col-md-5 border border-right border-dark">
            @foreach (var task in Model.MyTasks)
            {
                if (task.IsImportant && task.IsUrgent)
                {
                    <div class="row">
                        <div class="col">
                            <h4>@task.Subject</h4>
                            <p>Due : @task.Due</p>
                            <p>@task.CompletedSteps / @task.TotalSteps @task.Steps</p>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-5">
            @foreach (var task in Model.MyTasks)
            {
                if (!task.IsImportant && task.IsUrgent)
                {
                    <div class="row">
                        <div class="col">
                            <h4>@task.Subject</h4>
                            <p>Due : @task.Due</p>
                            <p>@task.CompletedSteps / @task.TotalSteps @task.Steps</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2"><h3>Not Urgent</h3></div>
        <div class="col-md-5">
            @foreach (var task in Model.MyTasks)
            {
                if (task.IsImportant && !task.IsUrgent)
                {
                    <div class="row">
                        <div class="col">
                            <h4>@task.Subject</h4>
                            <p>Due : @task.Due</p>
                            <p>@task.CompletedSteps / @task.TotalSteps @task.Steps</p>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-5">
            @foreach (var task in Model.MyTasks)
            {
                if (!task.IsImportant && !task.IsUrgent)
                {
                    <div class="row">
                        <div class="col">
                            <h4>@task.Subject</h4>
                            <p>Due : @task.Due</p>
                            <p>@task.CompletedSteps / @task.TotalSteps @task.Steps</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>